.idea/
.vscode/
*.iml
*.log
*.tmp

# Java / Maven
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

# Harmony / DevEco
frontend/harmony-app/.hvigor/
frontend/harmony-app/.idea/
frontend/harmony-app/entry/build/
frontend/harmony-app/build/
frontend/harmony-app/entry/.preview/
frontend/harmony-app/oh_modules/

# OS
Thumbs.db
desktop.ini
